* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

}

img {
    max-width: 70%;
}

h2 {
    color: #1C5A6B;
    font-weight: bold;
    margin: 15px auto 0 auto;
    text-align: center;

}

.topbar {
    display: flex;
    justify-content: space-between;
    background: #E87724;
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 white;
    height: 40px;
    color: white;
    align-items: center;
}

.logo h1 {
    font-size: 1, 3em;
    line-height: 1em;
    padding-left: 10px;

}

.hoje label {
    padding: 0 10px;
    font-weight: bold
}



/* sidebar*/

.sidebar {
    position: fixed;
    top: 40px;
    width: 260px;
    height: calc(100% - 60px);
    background-color: white;
    overflow-x: hidden;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #E87724;
    opacity: 0.7;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 80px;
    font-size: 25px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #1C5A6B;
    opacity: 0.7;
    color: white;
}


/* main*/

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 190px);
    left: 190px;
    min-height: calc(100% - 60px);
    background: white;
    padding: 10px;
}
.containerBox{
    display: flex;
    flex-wrap: wrap;  
}
.box{
    min-width: 200px;
    width: 25%;
    padding: 20px;
}

.contratar {
    max-width: 780px;
    min-height: 50px;
    border-radius: none;
    background-color: #1C5A6B;
    opacity: 0.7;
    color: white;
    transition: all .3s ease-in-out;
    padding: 10px;
    border-radius: 15px;
}

.contratar .img {
    display: flex;
    justify-content: center;

}


img {

    border-radius: 50%;
}

.contratar h4 {
    display: flex;
    align-content: center;
}

h4 {
    float: left;
    transition: 0.8s;

}

h4:hover {
    transform: rotateY(360deg);
}

#maisUm {
    display: none;
}

#maisDois {
    display: none;
}

#maisTres {
    display: none;
}
#maisQuatro{
    display: none;
}
#maisCinco{
    display: none;
}
#maisSeis{
    display: none;
}


button{
    background-color: #fff;
    border: none;
    padding: 2px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

button:hover {
    border: none;
    background-color: #fff;
    color: #1C5A6B;
}

.btn:hover {
    border: none;
    background-color: #fff;
    color: #E87724;
}

.box p{
    padding-top: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;     
}